
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');

:root {
      --primary-color : #FFCB45;
      --secondary-color : #F28B42;
      --bg-color : #FFF9EA;
      --dark-color : #1D1D1D; 
      --semi-dark-color : rgba(29, 29, 29, 0.7);

      --fw7 : 700;
      --fw6 : 600; 
      --fw5 : 500;
      --fw4 : 400; 

      
}

* {
      margin:  0;
      padding: 0;
}
*,::before, ::after {
  box-sizing: border-box;
}

body {
      font-family: 'Readex Pro', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: rgba(29, 29, 29, 0.7);
}
a {
      text-decoration: none;
      color: inherit;
}
ul {
      list-style: none;
}
img {
      max-width: 100%;
      vertical-align: middle;
}

h1 {
      font-size: 35px;
      font-weight: var(--fw6);
      color: var(--dark-color);
}
h2 {
      font-size: 25px;
      font-weight: var(--fw7);
      color: var(--dark-color);
}
h3 {
      font-size:  20px;
      font-weight: var(--fw5);
      color: var(--primary-color)
}
h4 {
      font-size: 22px;
      font-weight: var(--fw5);
}    
span {
      color: var(--primary-color);
}

/* ................. 
REUSABLE SELECTOR 
................. */

.container {
      max-width: 1180px ;
      margin: 0 auto;
      padding: 0 0.938em;
}
.small-container {
      max-width: 1032px ;
      margin: 0 auto;
      padding: 0 0.938em; 
}

.row {
      text-align: center;
}
.col-2, 
.col-3, 
.col-4 {
      flex-basis: 100%;
}
 /* for tablet screen  */
@media screen and (min-width: 767px) {
      .row {   
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: left;
      }
      .col-2 {
            flex-basis: 50%;
            min-width: 300px; 
      }

      .col-3 {
            flex-basis: 35%;
            max-width: 234px;
            margin-bottom: 30px;    
      }

      .col-4 {
            flex-basis: 25%;
            padding: 10px;
            min-width: 300px;
      }
      .col-5{
            width: 160px;
      }

      h1 {
            font-size: 48px;
      }
      h2 {
            font-size: 32px;    
      }
      h3 {
            font-size:  22px;
      } 
}

 /* for desktop screen  */
  @media screen and  (min-width: 1024px) {
        .col-4 {
            min-width: 200px;
      }
  }


.flexcenter {
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.flexitem {
      display: flex;
      align-items: center;
}

.btn {
      background: var(--primary-color);
      font-size: 14px;
      font-weight: var(--fw7);
      padding: 11px 24px;
      border-radius: 50px;
      color: var(--dark-color);
      transition: all 0.3s ease;
}
.btn:hover {
      background: #F28B42;
      /* opacity: 0.2 */
}

/* ................. 
NAVIGATION STYLING
................. */
nav {
      background: var(--bg-color);
      padding:  25px 0;
}
/* LOGO  */
nav .nav-logo p {
      color: var(--dark-color);
      font-size: 20px;
      font-weight: var(--fw6);
}
nav .nav-logo  {
     align-items: flex-end;
}

/* MENU LINKS  */
nav .nav-menu {   
      display: none;   
}

nav .nav-menu.show-links{
        display: block;
        position: fixed;
        height: 100vh; 
        width: 100%; 
        left: 0;
        top: 0;
        background: var(--bg-color);  
        text-align: center;
        padding-top: 100px;
        transition: all 0.1s ease ;
}
nav .nav-menu li {
      padding-bottom: 15px;
}
nav .nav-menu li a  {
      font-weight: var(--fw5);
      font-size: 22px;
}
nav .nav-menu li a:hover  {
      color: var(--dark-color);
}
nav .nav-menu ul li:nth-child(6),
nav .nav-menu ul li:nth-child(6) .btn {
       margin-top: 20px;
       font-size: 16px;
       font-weight:var(--fw7);
}
nav .nav-menu ul li:nth-child(6) svg {
      font-size: 18px;
      padding-right: 20px;
}

/* links  */
nav .nav-menu .menu-links {
    position: relative;
} 
nav .nav-menu .menu-links::after {
    content: '';
    width: 0;
    height: 4px;
    background: var(--primary-color);
    position: absolute;
    left: 40%;
    bottom: 5px;
    transition: all 0.5s ease ;
} 
nav .nav-menu .menu-links.active-link::after {
      width: 20% ;
}

/* ICONS  */
nav .nav-btns .flexitem {
      gap: 15px;
}
nav .nav-btns ul li:nth-child(3) {
      display: none;
}
nav .nav-btns .flexitem li a:hover svg {
      color: var(--dark-color);
} 


/* ................. 
HERO SECTION STYLING
................. */
 
.hero-section {
      background: url(/images/shapes-bg.jpg) no-repeat center ;
      background-color: var(--bg-color);
     

}
.hero-section h1 {
      padding: 21px 0;
}
.hero-section p{
      padding-bottom: 23px;
}



/* ................. 
SERVIVCES SECTION STYLING
................. */
.services-section {
      margin: 80px 0;
      text-align: center;
}
section .text {
     max-width: 611px;
     margin: 0 auto;
}
section .text h3 {
      margin-bottom: 7px;
}
section .text h2 {
      margin-bottom: 26px;
}
section .text p {
      font-weight: var(--fw5);
      line-height: 28px;
      font-size: 22px;
      margin-bottom: 32px;
}

.services-section .row  {
      text-align: center;
      justify-content: space-between;
}

.services-section .col-3 img {
      width: 180px;
      height: auto;
} 

.services-section .col-3 h5 {
      color: var(--dark-color);
      font-weight: var(--fw6);
      font-size: 28px;
      margin: 24px 0 6px;
}
.services-section .col-3 p {   
      font-weight: var(--fw5);
      font-size: 20px;
}

/* ................. 
MENU SECTION STYLING
................. */
.menu-section {
      /* margin: 80px 0; */
      text-align: center;
}
.menu-section .text {
     max-width: 439px;
     margin: 0 auto;
}
.menu-section .card {
      background: #F1F1F1;
      border-radius: 10px;
      filter: drop-shadow(2px 5px 12px rgba(0, 0, 0, 0.15));
      transition: all 0.3s ease;
}
.menu-section .card:hover {
      border-radius: 50px;
      filter: drop-shadow(2px 5px 12px rgba(0, 0, 0, 0.5));  
      scale: 1.1; 
}
.menu-section .card img {
      margin: 13px 25px 16px;
}
.menu-section .card-text {
      background: #FFFFFF;
      border-radius: 10px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      text-align: center;
      margin-bottom: 10px;
}
.menu-section .card-text h5 {
      color: var(--dark-color);
      font-weight: var(--fw5);
      font-size: 20px;
      padding: 14px 0 5px;
}
.menu-section .card-text .price-heart {
      display: flex;
      justify-content: space-between;
      padding: 13px 22px; 
}
.menu-section .card-text .price-heart p {
      color: var(--dark-color);
      font-size: 22px;
      font-weight: var(--fw5);
}
.menu-section .card-text .price-heart svg {
      font-size: 22px;
      transition: all 0.3s ease;
}
.menu-section .card-text .price-heart svg:hover {
      color: var(--primary-color);
}
.menu-section-btn {
      margin: 80px 0 45px;
}


/* ................. 
MEMBERSHIP SECTION STYLING
................. */
.membership-section {
      margin-bottom: 80px ;
      text-align: center;

}
.membership-section .background {
      background: url(/images/unsplash_2lWGQ02DGL8.jpg) no-repeat center;
      /* height: 100*;  */
      padding: 93px 0;
      border-radius: 10px;
}
.membership-section h5 {
      color: #FFFFFF;
      font-size: 32px;
      font-weight: var(--fw7);
      max-width: 422px;
      margin: 0 auto ;
      padding-bottom: 30px;
      /* text-align: center; */
}

/* ................. 
MEDIA QUERIES
................. */
/* for tablet screen  */
 @media screen and  (min-width: 767px) { 
       /* Navigation section  */
      nav {
             padding:  35px;
      }
      nav .nav-logo p {
            font-size: 24px;
      }
      nav .nav-btns ul li:nth-child(3) {
             display: block;
      }

      nav .nav-btns .flexitem li svg {
            margin-right: 16px;
            font-size: 25px;
      }
      nav .nav-btns ul li:nth-child(3) svg {
            font-size: 19px;
      }
      nav .nav-menu ul li:nth-child(6) {
            display: none;
      }
 }


 /* for desktop screen  */
  @media screen and  (min-width: 1024px) { 
      /* Navigation section  */
      nav .nav-menu {   
            display: flex;   
      }
      nav .nav-menu ul{   
            display: flex; 
      }
      nav .nav-menu ul li{   
            margin-left: 37px;
            margin-top: 20px;
      }

      nav .nav-menu .menu-links::after {
            left: 0;
            bottom: 8px;
      } 
      nav .nav-menu .menu-links.active-link::after {
            width: 95% ;
      }

      nav .nav-btns ul li:nth-child(4) svg {
            display: none;
      }
  }


